.loading {
    background-color: white;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    #loadlogo {
        animation: spin 8s linear;
        transform-origin: center;
    }
    p{
        font-family: 'Courgette', cursive;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}