@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Courgette|Lobster+Two');
/* ---------------------------------------------------
    General
----------------------------------------------------- */

.pink {
    background-color: #ff51a2;
    color: white;
}

.purple {
    background-color: #e4c1f9;
    color: white;
}

.blue {
    background-color: #55b1df;
    color: white;
}

@mixin parallaxs($height,
$size) {
    height: $height;
    min-height: $height;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: $size $size;
}

@mixin parword () {
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px 0 #000, 0px 0px 0 #000, 0px 0px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* ---------------------------------------------------
    Side Nav
----------------------------------------------------- */

#mySidenav a {
    position: fixed;
    margin-top: 40vh;
    left: -68px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    border-radius: 0 5px 5px 0;
    font-family: 'Courgette', cursive;
    &:hover {
        left: 0;
    }
}

#sideOne {
    top: 20px;
    background-color: #ff51a2;
}

#sideTwo {
    top: 80px;
    background-color: #e4c1f9;
}

#sideThree {
    top: 140px;
    background-color: #55b1df;
}

/* ---------------------------------------------------
    Parallax
----------------------------------------------------- */

.parallax {
    background: linear-gradient(270deg, #ff51a2, #e4c1f9, #6ac5f2);
    @include parallaxs(100vh,
    600%);
    -webkit-animation: Gradient 19s ease infinite;
    -moz-animation: Gradient 19s ease infinite;
    animation: Gradient 19s ease infinite;
    font-family: 'Courgette', cursive;
    #homeheader {
        font-weight: 400;
        font-size: 130px;
        font-style: normal;
        stroke-dasharray: 3000;
        stroke-dashoffset: 3000;
        animation: dash 4000ms ease-in-out forwards;
        fill: transparent;
        stroke: black;
    }
    .demo a {
        position: absolute;
        bottom: 20px;
        left: 50%;
        z-index: 2;
        display: inline-block;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: #fff;
        letter-spacing: .1em;
        text-decoration: none;
        transition: opacity .3s;
        &:hover {
            opacity: .5;
        }
    }
    #scrollbtn a {
        padding-top: 60px;
        span {
            position: absolute;
            top: 0;
            left: 50%;
            width: 46px;
            height: 46px;
            margin-left: -23px;
            border: 1px solid #fff;
            border-radius: 100%;
            box-sizing: border-box;
            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                content: '';
                width: 16px;
                height: 16px;
                margin: -12px 0 0 -8px;
                border-left: 1px solid #fff;
                border-bottom: 1px solid #fff;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                box-sizing: border-box;
            }
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                content: '';
                width: 44px;
                height: 44px;
                box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
                border-radius: 100%;
                opacity: 0;
                -webkit-animation: headerscroll 3s infinite;
                animation: headerscroll 3s infinite;
                box-sizing: border-box;
            }
        }
    }
}

.parallax1 {
    background-image: url('../Images/Hiking.png');
    @include parallaxs(100vh,
    100%);
    #about {
        width: 40vw;
        height: 50vh;
        z-index: 4;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        h1 {
            font-family: 'Courgette', cursive;
        }
        h3 {
            margin: 30px;
            font-size: 18px;
        }
    }
}

.parallax2 {
    background-color: white;
    @include parallaxs(250vh,
    100%);
    h1 {
        font-family: 'Courgette', cursive;
        margin: 40px;
    }
    #title {
        border: 5px double white;
        padding: 5px;
        background-image: linear-gradient(to left, #FF51A2, #E4C1F9, #6AC5F2);
        background-size: auto 150%;
        background-position: 0 100%;
        color: white;
        margin-top: -45px;
    }
    .container {
        text-align: center;
        .col-xs-10 {
            display: flex;
            justify-content: center;
            div {
                margin-top: 10vh;
                width: 20vw;
                height: 20vh;
                font-family: 'Courgette', cursive;
                padding: 11px;
                border: 6px double white;
            }
            #lastStep {
                margin-top: 25vh;
            }
        }
        .col-xs-8 {
            div {
                position: relative;
                margin: 25px;
                margin-top: 60px;
                width: 20vw;
                height: 38vh;
                padding: 20px;
                z-index: 10;
                h3 {
                    font-size: 16px;
                }
            }
            .backimg {
                position: absolute;
                top: 0;
                width: 30vw;
                height: 66vh;
                background-size: 100% 100%;
                z-index: 0;
            }
            #step1 {
                right: 80px;
                background-image: url('../Images/Beach.jpg');
            }
            #step2 {
                left: 80px;
                background-image: url('../Images/Basketball.jpg');
            }
            #step3 {
                right: 80px;
                background-image: url('../Images/Hanging.jpg');
            }
            #step4 {
                left: 80px;
                background-image: url('../Images/Boardgames.jpg');
            }
            .animation-element:hover {
                margin-top: 5px;
            }
        }
    }
}

.parallax3 {
    background-image: url('../Images/Volleyball.jpg');
    @include parallaxs(60vh,
    100%);
    a {
        @include parword();
    }
}

.parallax4 {
    background-image: url('../Images/Sailing.jpg');
    @include parallaxs(60vh,
    100%);
    a {
        @include parword();
    }
}

/* ---------------------------------------------------
    Footer
----------------------------------------------------- */

.footer {
    @include parallaxs(20vh,
    100%);
    background-color: white;
}

/* ---------------------------------------------------
    Animation
----------------------------------------------------- */

.bounce-up {
    opacity: 0;
    -moz-transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
    -moz-transform: translate3d(0px, 200px, 0px);
    -webkit-transform: translate3d(0px, 200px, 0px);
    -o-transform: translate(0px, 200px);
    -ms-transform: translate(0px, 200px);
    transform: translate3d(0px, 200, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bounce-up.in-view {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-webkit-keyframes headerscroll {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes headerscroll {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.spin {
    animation: spin 5s linear;
    transform-origin: center;
}

svg:hover .spin {
    animation: spin 2s infinite;
}

@mixin filler($animation) {
    animation: $animation 0.5s linear alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.fadeIn {
    animation: FadeIn 5s linear alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transition: fill 1s ease-in-out;
    fill: transparent;
    &:nth-child(2) {
        &:hover {
            @include filler(fillInRed);
        }
    }
    &:nth-child(3) {
        animation-delay: 1.8s;
        &:hover {
            @include filler(fillInRed);
        }
    }
    &:nth-child(4) {
        animation-delay: 1.2s;
        &:hover {
            @include filler(fillInBlue);
        }
    }
    &:nth-child(5) {
        animation-delay: 2.1s;
        &:hover {
            @include filler(fillInBlue);
        }
    }
    &:nth-child(6) {
        animation-delay: 0.6s;
        &:hover {
            @include filler(fillInPurple);
        }
    }
    &:nth-child(7) {
        animation-delay: 0.9s;
        &:hover {
            @include filler(fillInRed);
        }
    }
    &:nth-child(8) {
        animation-delay: 0.3s;
        &:hover {
            @include filler(fillInBlue);
        }
    }
    &:nth-child(9) {
        animation-delay: 1.5s;
        &:hover {
            @include filler(fillInPurple);
        }
    }
}

@keyframes fillInRed {
    to {
        fill: #ff51a2;
    }
}

@keyframes fillInBlue {
    to {
        fill: #6ac5f2;
    }
}

@keyframes fillInPurple {
    to {
        fill: #e4c1f9;
    }
}

@keyframes FadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        fill: white;
    }
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        fill: white;
    }
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
        fill: black;
    }
}