.login {
    background-color: #6ac5f2;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    #background {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        background: url('../Images/Goals.png');
        background-size: 35% 35%;
    }
    #middleground {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: 2;
        background: url('../Images/Match.png');
        background-size: 20% 20%;
        opacity: .5;
    }
    #foreground {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: 3;
        background: url('../Images/Interests.png');
        background-size: 10% 10%;
        opacity: .25;
    }
    #logform {
        width: 30vw;
        height: 40vh;
        z-index: 4;
        background-color: rgba(255, 255, 255, 0.781);
        border-radius: 10px;
        text-align: center;
        a{
            color: black;
        }
        h1 {
            font-family: 'Courgette', cursive;
        }
        #formstyle{
           input{
              border-radius: 5px;
              height: 6vh;
              width: 20vw;
           }
        }
        input[type="submit"]{
            background-color: black;
            color:white;
            border-radius: 5px;
            padding: 7px;
            width: 20vw;
            &:hover {
                background-color:#6ac5f2;
            }
        }
    }
}
